@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 2.5rem;
    font-weight: 700;
}

h2{
    font-size: 1.8rem;
    font-weight: 600;
}

h3{
    font-size: 1.4rem;
    font-weight: 800;
}

h4{
    font-size: 1.1rem;
    font-weight: 600;
}

h5{
    font-size: 1rem;
    font-weight: 400;
    color: #000;
}

h6{
    color: rgb(24, 22, 22);
}

button{
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: #1d1d1d;
    color: aliceblue;
    padding: 13px 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover{
    background-color: #3a3833;
}

hr{
    width: 60px;
    height: 2px;
    background-color: coral;
}

.star{
    padding: 10px 0;
}

.star i{
    font-size: 0.8rem;
    color: goldenrod
}

/* ----------------------------------------------------HEADER---------------------------------------------------------- */
.navbar{
    font-size: 16px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
}

.navbar-light .navbar-nav .nav-link{
    padding: 0 20px;
    color: #000;
    transition: 0.3s ease;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar i.acive{
    color: #f56e00;
}

.navbar i{
    font-size: 1.2rem;
    padding: 0 7px;
    cursor: pointer;
    font-weight: 500px;
    transition: 0.3s ease;
}

/* -----------------------MOVIEL NAV-----------------  */

.navbar-light .navbar-toggler{
    border: none;
    outline: none;
}

#bar{
    font-size: 1.5rem;
    padding: 7px;
    cursor: pointer;
    transition: 0.3s ease;
    color: #000;
}

#bar:hover{
    color: #f56e00;
}
/* --------------------------------------BOTON WSP--------------------------------- */

.btn-wsp{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background-color: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 100;
}

.btn-wsp:hover{
    text-decoration: none;
    color: #0df053;
    background: #fff;
}

/* ---------------------------------------------------INDEX-------------------------------------------------- */

/* ----------------------------------------------------BANNER PRINCIPAL ----------------------------------------*/

#home{
    background-image: url(/images/banner.jpeg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: top 130px center ;  
}

/* -----------------------------------------NUESTROS PRODUCTOS------------------------------------------------- */
.product{
    cursor: pointer;
    margin-bottom: 2rem;
}

.product img{
    transition: 0.3s all;
}

.product:hover img{
    opacity: 0.7;
}

.product .buy-btn{
    background-color: rgb(248, 122, 76);
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3s all;
}

.product:hover .buy-btn{
    transform: translateY(0px);
    opacity: 1;
}

/* ------------------------------------------QUIENES SOMOS----------------------------------------------------- */
#banner{
    background-image: url(/images/quienes.jpeg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: top 70px center ; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#banner p{
    color: #fff;
}

#banner h1{
    color: #fff;
}


/* ------------------------------------------------FOOTER------------------------------------------------------- */
footer{
    background-color: #f8f9fa;
}

footer h5{
    font-weight: 700;
    font-size: 1.2rem;
}

footer li{
    padding-bottom: 4px;
}

footer li a{
    font-size: 0.8rem;
    color: #000;
}

footer li a:hover{
    color: coral;
}

footer .copyright a{
    color: #000;
    width: 38px;
    height: 38px;
    background-color: #cecfcf;
    display: inline-block;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    transition: 0.3s ease;
    margin: 0 5px;
}

footer .copyright a:hover{
    color: #cecfcf;
    background-color: #000;
}

/* -----------------------------------------TIENDA-------------------------- */

.tienda{
    font-family: 'Patua One', cursive;
    text-align: center;
    color: #f56e00;
    font-size: 25pt;
    padding-top: 30px;
    padding-bottom: 30px;
}

.page-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product-container{
    margin: 20px;
    padding: 2px 16px;

}

.product-container:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 5);
}


.product-container img{
    width: 500px;
}

.product-container h4{
    color: #f56e00;
    font-family: 'Roboto', sans-serif;
    font-size: 15pt;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

/* -------------------------------------GALERÍA-------------------------------------- */

.container-img{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 250px;
    grid-gap: 15px;
}

.img-galeria{
    border-radius: 8px;
}

.img-galeria:hover{
    transform: scale(1.1);
    transition: all 0.7s;
}

.container-img .box-img figure{
    width: 100%;
    height: 100%;
}

.container-img .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-img .box-img:nth-child(1){
    grid-column-start: span 2;
    grid-row-start: span 2;
}

.container-img .box-img:nth-child(2){
    grid-row-start: span 2;
}

.container-img .box-img:nth-child(3){
    grid-row-start: span 2;
}

.container-img .box-img:nth-child(6){
    grid-row-start: span 1;
}

.container-img .box-img:nth-child(4){
    grid-column-start: span 2;
    grid-row-start: span 2;
}

.container-img .box-img:nth-child(5){
    grid-column-start: span 2;
    grid-row-start: span 1;
}

/* ------------------------------------------NOSOTROS----------------------------------- */

.galeria{
    height: 800px;
    display: grid;
    padding: 20px;
}

.img{
    background-color: #f56e00;
}

.img1{
    grid-column: 1/4;
    grid-row: 1/10;
    background-image: url(/images/foto4.jpeg);
    background-position: center;
    background-size: cover;
}

.img2{
    grid-column: 4/6;
    grid-row: 1/5;
    background-color: #f56e00;
}

.img3{
    grid-column: 4/6;
    grid-row: 5/10;
    background-image: url(/images/foto1.jpeg);
    background-position: center;
    background-size: cover;
}

.galeria2{
    display: grid;
    height: 800px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.img4{
    grid-column: 1/4;
    grid-row: 1/10;
    background-image: url(/images/foto6.jpeg);
    background-position: center;
    background-size: cover;
}

.img5{
    grid-column: 4/6;
    grid-row: 1/12;
    background-image: url(/images/foto3.jpeg);
    background-position: center;
    background-size: cover;
}

.img6{
    background-color: #f56e00;
    grid-column: 1/4;
    grid-row: 10/12;
}

.titulo{
    font-size: 25pt;
    font-family: 'Patua One', cursive;
    color: #fff;
    padding-bottom: 20px;
    text-align: center;
    padding-top: 30px;
}

/* -----------------------------------------CONTACTENOS----------------------------------- */

.container-form{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 50px;
    padding-bottom: 50px;
}

.container-form a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: #000;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
}

.container-form a i{
    color: #f56e00;
    margin-right: 10px;
}

.container-form form .campo, textarea{
   width: 100%;
   padding: 15px 10px;
   font-size: 15px;
   border: 1px solid #f56e00;
   margin-bottom: 20px;
   border-radius: 3px;
   outline: 0px; 
}

.container-form form textarea{
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
    font-family: 'Roboto', sans-serif;
}

.container-form .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: all 300ms ease;
}

.container-form .btn-enviar:hover{
    color: #f56e00;
}

/* ---------------------------------------------------PRODUCTOS PAGES-------------------------------------------*/

.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 50%;
    cursor: pointer;
}

.small-img1{
    width: 189px;
    height: 40px;
    margin-bottom: 30px;
}
.small-img2{
    width: 124px;
    height: 38px;
}
.small-img3{
    width: 110px;
    height: 40px;
}
.small-img4{
    width: 154px;
    height: 45px;
}

.sproduct select{
    display: block;
    padding: 10px 10px;
    font-size: 16px;
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
    border: solid #f56e00 1px;
    border-radius: 4px;
}

.sproduct select:focus{
    outline: none;
}

.sproduct input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
    border: solid #f56e00 1px;
    border-radius: 4px;

}

.sproduct input:focus{
    outline: none;
}


.buy-btn a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: white;
}